.shiftsScreen {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body-shifts {
  display: flex;
  flex-direction: column;
  width: 95%;
  font-family: "Poppins";
}

.section-filter {
  display: flex;
  justify-content: space-around;
  gap: 20px
}

.conditions {
  display: flex;
  flex-direction: column;
  border-radius: 2vh;
  padding: 10px 25px;
  width: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conditions h2 {
  font-size: 18px;
  text-align: center;
  color: #6f6c6c;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


@media (max-width: 767px) {
  .checkbox-group {
    flex-direction: column;
  }
}

.checkbox-group div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-group label {
  margin-bottom: 8px;
  color: #676161;
  font-size: 14px;
  font-family: "Poppins";
}

.date-range-assingment {
  display: flex;
  flex-direction: column;
  border-radius: 2vh;
  padding: 10px;
  width: 44%;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.date-range-assingment h2 {
  font-size: 18px;
  text-align: center;
  color: #6f6c6c;
}


.date-picker {
  display: flex;
  gap: 10px;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 767px) {
  .date-picker {
    flex-direction: column;
  }
}

.date-range,
.range-date {
  text-align: center;
  padding: 15px 10px;
  display: grid;
}

.range-date-subtitle {
  color: #a09d9d;
  font-size: 14px;
  margin-bottom: 15px;
}

.range-options {
  display: flex;
  gap: 10px;
}

.range-options button {
  color: #6b7280;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.range-options .active {
  background-color: #3391d0;
  color: #fff;
}

.Title-Seccion {
  font-size: 16px;
  font-weight: 200;
  color: #6f6c6c;
  margin-top: 3vh;
}

.table-section {
  margin-bottom: 3vh;
}

.day {
  font-family: "Poppins";
}

.week {
  font-family: "Poppins";
}

.month {
  font-family: "Poppins";
}

.user-selection {
  max-height: 230px;
  overflow-y: auto;
  scrollbar-width: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-selection::-webkit-scrollbar {
  width: 12px;
}

.user-selection::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.user-selection::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 20px;
  border: 2px solid #f1f1f1;
}

.user-selection::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}
.assign-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.assign-button {
  margin-top: 3vh;
  background-color: #e4f0ff !important;
  color: #197bbd !important;
  border: none;
  border-radius: 5px;
  font-family: "Poppins";
  width: 40%;
  height: 30px;
  cursor: pointer;
}

.assign-button:hover {
  color: #197bbd;
  border: solid 1px #197bbd;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .filter-section {
    padding: 15px;
    min-width: 100%;
  }

  .filters {
    flex-direction: column;
    gap: 15px;
  }

  .range-options button {
    padding: 5px;
    font-size: 0.9rem;
  }


}
