.header-container {
  display: flex;
  justify-content: space-around;
  width: 95%;
}

.header {
  display: flex;
  width: 95%;
  margin-left: 2vh;
}

.header h1 {
  margin-top: 3vh;
}

.link {
    text-decoration: none;
}