.modal-box-request {
  padding: 20px;
  background-color: white;
  width: 400px;
  max-width: 400px;
  max-height: 70vh;
  margin: auto;
  border-radius: 8px;
  font-family: "Poppins";
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.detalle-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.label {
  font-weight: bold;
  margin-right: 50px;
}
.modal-image {
  width: 30%;
  max-height: 200px;
  object-fit: cover;
  margin-top: 15px;
  cursor: pointer;
  margin-top: 100px;
}

.modal-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 100px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

.accept-btn {
  background-color: #d5f1e0;
  color: #34a838;
  border: #34a838;
  font-family: "Poppins";
  width: 40%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reject-btn {
  background-color: #f1bfba ;
  font-family: "Poppins";
  color: #c0392b;
  border: #c0392b;
  width: 40%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.accept-btn:hover {
  border: solid 1px #197bbd;
}

.reject-btn:hover {
  border: solid 1px #197bbd;
}

@media (max-width: 768px) {
  .search-bar {
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .search-bar input {
    width: 100%;
    padding: 8px 35px 8px 10px;
    font-size: 14px;
  }

  .pagination-container {
    margin-left: 0;
  }
}