.employeesScreen {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .body-employees {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-family: "Poppins";
  }
  