.modal-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(133, 133, 133, 0.671);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 24px;
  border-radius: 2vh;
  width: 90%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .modal-content {
    width: 60%;
  }
}

.modal-title {
  font-size: 18px;
  color: #0d1b34;
  margin: 0px 0px 16px 0px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
}

.input-field {
  flex: 1;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #f3f4f6;
  font-family: "Poppins";
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.input-field:hover {
  border: solid 1px #197bbd;
}

.input-field svg {
  background: none;
  border: none;
  cursor: pointer;
  color: #bbc0c5;
  font-size: large;
}

.full-width {
  width: 100%;
  margin-top: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px 15px;
  width: 90%;
}

@media (max-width: 767px) {
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }
}

.errors-div {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 5px;
  font-size: 10px;
  color: rgb(255, 32, 32);
}

.errors-label {
  margin-left: 5px;
}

.save-btn {
  width: 45%;
  background-color: #e4f0ff;
  color: #197bbd;
  border:#197bbd;
  font-family: "Poppins";
  font-size: 14px;
}

@media (max-width: 767px) {
  .save-btn {
    width: 70%;
  }
}

.save-btn:hover {
  color: #197bbd;
  border: solid 1px #197bbd;
}

.cancel-btn {
  width: 45%;
  background-color: #d6d8da;
  color: #3a3c3d;
  border: #3a3c3d;
  font-family: "Poppins";
  font-size: 14px;
}

@media (max-width: 767px) {
  .cancel-btn {
    width: 70%;
  }
}

.cancel-btn:hover {
  color: #3a3c3d;
  border: solid 1px #3a3c3d;
}
